<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("./navbar") -%>
    <div class="container">
      <form action="/member" method="POST">
        <input type="hidden" name="userId" value="<%= user.id %>" />
        <label for="membership_status">Membership Status:</label>
        <select name="membership_status" id="membership_status">
          <option value="true" <%= user.membership_status ? "selected" : "" %>>Active</option>
          <option value="false" <%= !user.membership_status ? "selected" : "" %>>Inactive</option>
        </select>
        <button type="submit">Update Status</button>
      </form>
    </div>
    <%- include("./footer") -%>
  </body>
</html>
